.header {
  height: 45px;

  color: rgb(255, 255, 255);
  padding: 10px 10px 0px;
}

.header img {
  border-radius: 20px;
}

.header h2 {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  font-size: 1.3em;
  vertical-align: top;
}

.header h2 div {
  font-size: .6em;
  margin-left: 20px;
}

.header .change-user {
  display: inline-block;
  font-size: .6em;
  border: none;
  background-color: transparent;
  color: #08c;
  vertical-align: top;
  margin: 10px 0 0 20px;
}
