.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.header img {
  border-radius: 20px;
}

.header h2 {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
}

.header h2 div {
  font-size: .6em;
  margin-left: 20px;
}
